@font-face {
    font-family: 'Madurai';
    src: url(../media/Hind_Madurai/HindMadurai-Regular.ttf);
}
@font-face {
    font-family: 'Madurai-Light';
    src: url(../media/Hind_Madurai/HindMadurai-Light.ttf);
}
@font-face {
    font-family: 'Madurai-Medium';
    src: url(../media/Hind_Madurai/HindMadurai-Medium.ttf);
}
@font-face {
    font-family: 'Madurai-SemiBold';
    src: url(../media/Hind_Madurai/HindMadurai-SemiBold.ttf);
}
@font-face {
    font-family: 'Madurai-Bold';
    src: url(../media/Hind_Madurai/HindMadurai-Bold.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0.5px solid red; */
}
:root {
    --main-color: #ff9103;
    --main-color-light: #ffa561;
    --main-color-dark: #de780c;
    --grey: #a8a8a8;
    --black: #000;
    --white: #fff;
}
body {
    font-family: 'Madurai';
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}
body > header {
    grid-area: header;
    z-index: 2;
}
body > main {
    grid-area: main;
}
body > footer {
    grid-area: footer;
}
header {
    display: flex;
    position: sticky;
    top: 0;
    height: 100%;
    align-items: center;
    padding: 23px 18px 23px 18px;
    background: linear-gradient(white, white, white, transparent);
}
.logoHeader {
    margin-right: 8px;
    width: 140px;
    height: auto;
}
.headerMobile {
    display: none;
}
.headerDesktop {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.searchButton {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--black);
    margin: 0 8px 0 0;
}
.searchButton:hover {
    color: var(--grey);
}
#searchInput {
    border: none;
    border-bottom: 1px solid;
    border-color: var(--grey);
    color: var(--grey);
    background-color: transparent;
}
.linkHeader {
    text-decoration: none;
    color: var(--black);
}
.linkHeader:hover {
    color: var(--grey);
}
.linkCheckout {
    color: var(--grey);
}
.linkCheckout:hover {
    color: var(--black);
}
.searchBarMobile{
    display: none;
}
@media (max-width: 599px) {
    .logoHeader {
        width: 100px;
    }
    .headerDesktop {
        display: none;
    }
    .headerMobile {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .searchBarMobile {
        display: flex;
        justify-content: center;
        margin: 40px 0 30px 0;
    }   
}
@media (max-width: 354px) {
    .logoHeader {
        width: 80px;
    }
    .linkHeader {
        font-size: 14px;
    }
}
.frontImages {
    max-width: fit-content;
    height: 393px;
    margin: 40px 0;
}
.homeImage1 {
    position: absolute;
    object-fit: cover;
    width: 50%;
    height: 263px;
    left: 10%;
    border-radius: 70px 0 70px 0;
}
.homeImage2 {
    position: absolute;
    object-fit: cover;
    width: 50%;
    height: 220px;
    top: 40%;
    right: 10%;
    border-radius: 0 70px 0 70px;
}
.homeSlogan {
    position: absolute;
    top: 422px;
    left: 18%;
}
@media (min-width: 900px) {
    .frontImages {
        height: 548px;
    }
    .homeImage1 {
        height: 393px;
    }
    .homeImage2 {
        height: 300px;
        top: 50%;
    }
    .homeSlogan {
        top: 555px;
        left: 19%;
        font-size: 21px;
    }
}
@media (max-width: 599px) {
    .frontImages {
        height: 386px;
        margin: 45px 0;
    }
    .homeImage1 {
        height: 262px;
    }
    .homeImage2 {
        height: 200px;
        top: 48%;
    }
    .homeSlogan {
        top: 478px;
        left: 17%;
        font-size: 16px;
    }
}
@media (max-width: 449px) {
    .frontImages {
        height: 292px;
        margin: 35px 0;
    }
    .homeImage1 {
        height: 196px;
        border-radius: 50px 0 50px 0;
    }
    .homeImage2 {
        height: 150px;
        top: 43%;
        border-radius: 0 50px 0 50px;
    }
    .homeSlogan {
        top: 390px;
        left: 15%;
        font-size: 14px;
    }
}
.topSellers {
    margin: 66px 0 0 0;
    padding: 30px 30px;
    background-color: #ffd5b5;
    width: 100vw;
}
.customersPics {
    margin: 0 0 20px 0;
    font-family: 'Madurai-SemiBold';
    font-size: 18px;
}
.scroll {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
}
.img {
    width: 100%;
    display: inline-block;
    margin: 0 30px 0 0;
    max-width: 255px;
}
.imgLast {
    max-width: 255px;
    display: inline-block;
}
@media (max-width: 599px) {
    .img {
        max-width: 389px;
    }
    .imgLast {
        max-width: 389px;
    }
}
@media (max-width: 449px) {
    .img {
        max-width: 260px;
    }
    .imgLast {
        max-width: 260px;
    }
    .topSellers {
        margin: 60px 0 0 0;
    }
}







footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-color-light);
    height: 30px;
    font-size: 14px;
}
.snugFooter {
    margin: 0 30px 0 7px;
}
.contactFooter {
    text-decoration: none;
    color: var(--black);
}
.contactFooter:hover {
    text-decoration: underline;
}