@font-face {
    font-family: 'Madurai';
    src: url(../media/Hind_Madurai/HindMadurai-Regular.ttf);
}
@font-face {
    font-family: 'Madurai-Light';
    src: url(../media/Hind_Madurai/HindMadurai-Light.ttf);
}
@font-face {
    font-family: 'Madurai-Medium';
    src: url(../media/Hind_Madurai/HindMadurai-Medium.ttf);
}
@font-face {
    font-family: 'Madurai-SemiBold';
    src: url(../media/Hind_Madurai/HindMadurai-SemiBold.ttf);
}
@font-face {
    font-family: 'Madurai-Bold';
    src: url(../media/Hind_Madurai/HindMadurai-Bold.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0.5px solid red; */
}
:root {
    --main-color: #ff9103;
    --main-color-light: #ffa561;
    --main-color-dark: #de780c;
    --grey: #a8a8a8;
    --black: #000;
    --white: #fff;
}
body {
    font-family: 'Madurai';
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}
body > header {
    grid-area: header;
    z-index: 2;
}
body > main {
    grid-area: main;
}
body > footer {
    grid-area: footer;
}
header {
    display: flex;
    position: sticky;
    top: 0;
    height: 100%;
    align-items: center;
    padding: 23px 18px 23px 18px;
    background: linear-gradient(white, white, white, transparent);
}
.logoHeader {
    margin-right: 8px;
    width: 140px;
    height: auto;
}
.headerMobile {
    display: none;
}
.headerDesktop {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.searchButton {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--black);
    margin: 0 8px 0 0;
}
.searchButton:hover {
    color: var(--grey);
}
#searchInput {
    border: none;
    border-bottom: 1px solid;
    border-color: var(--grey);
    color: var(--grey);
    background-color: transparent;
}
.linkHeader {
    text-decoration: none;
    color: var(--black);
}
.linkHeader:hover {
    color: var(--grey);
}
.active {
    text-decoration: none;
    color: var(--black);
    font-style: italic;
}
.linkCheckout {
    color: var(--grey);
}
.linkCheckout:hover {
    color: var(--black);
}
.searchBarMobile{
    display: none;
}
@media (max-width: 599px) {
    .logoHeader {
        width: 100px;
    }
    .headerDesktop {
        display: none;
    }
    .headerMobile {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .searchBarMobile {
        display: flex;
        justify-content: center;
        margin: 40px 0 30px 0;
    }   
}
@media (max-width: 354px) {
    .logoHeader {
        width: 80px;
    }
    .linkHeader {
        font-size: 14px;
    }
}






#loading {
    position: fixed;
    top: 30%;
    left: 50%;
}
h2 {
    font-family: 'Madurai-SemiBold';
    margin: 60px 0 20px 75px;
}
#output {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 50px 50px 50px;
    justify-content: space-evenly;
}
.container {
    position: relative;
    width: 40%;
    margin: 0 20px 50px 20px;
}
.imageContainer {
    position: relative;
}
.buyNow {
    display: none;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px 10px;
    background-color: var(--white);
    font-family: 'Madurai-SemiBold';
    font-size: 13px;
    border: none;
    cursor: pointer;
    z-index: 1;
}
a {
    text-decoration: none;
    color: var(--black);
}
.image-container:hover .buyNow {
    display: block;
}
.buyNow:hover {
    background-color: var(--main-color-light);
}
.image {
    width: 100%;
}
.productInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.productTitle {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.productName {
    font-size: 15px;
    font-family: 'Madurai-SemiBold';
    margin: 0 4px 0 0;
    text-transform: uppercase;
}
.carrier {
    font-size: 15px;
    font-family: 'Madurai-Light';
    font-weight: lighter;
}
mark {
    display: none;
}
strong {
    display: block;
    font-size: 15px;
    font-family: 'Madurai-Light';
    font-weight: lighter;
}
.details {
    background-color: var(--white);
    font-family: 'Madurai-Light';
    font-size: 13px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
@media (min-width: 900px) {
    h2 {
        margin: 80px 0 40px 75px;
    }
    .container {
        width: 28%;
        margin: 0 10px 70px 10px;
    }
    .productTitle {
        margin-bottom: 5px;
    }
    .productName {
        margin: 0 7px 0 0;
    }
}
@media (max-width: 599px) {
    h2 {
        margin: 50px 0 0 40px;
    }
    #output {
        margin: 0 30px;
    }
    .container {
        width: 100%;
        padding: 40px 50px;
        margin: 0;
    }
}
@media (max-width: 399px) {
    .container {
        padding: 20px 30px;
    }
}
.modal {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999;
}  
.modalContent {
    background-color: var(--white);
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cardModal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: auto;
    padding: 20px;
}
.imageModal {
    width: 100%;
    object-fit: cover;
    margin: 0 20px 0 0;
    display: flex;
}
.infoModal {
    font-size: 15px;
    width: 300px;
    height: 319px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.buynowModal {
    background-color: var(--white);
    font-family: 'Madurai-SemiBold';
    font-size: 15px;
    width: 100%;
    border: none;
    border-top: 1px solid;
    padding: 10px 0 10px 0;
    margin-top: 15px;
    border-bottom: 1px solid;
    cursor: pointer;
}
.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    color: var(--black);
    cursor: pointer;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
@media (min-width: 900px) {
    .modalContent {
        width: 700px;
    }
    .cardModal {
        width: 700px;
    }
    .imageModal {
        width: 375px;
        margin: 0 25px 0 0;
    }
    .infoModal {
        height: 250px;
    }
}
@media (max-width: 599px) {
    .modalContent {
        padding: 20px;
        width: 370px;
    }
    .cardModal {
        flex-direction: column;
        width: 300px;
    }
    .imageModal {
        margin: 0 0 10px 0;
    }
    .infoModal {
        height: auto;
    }
    .close {
        top: 0px;
        right: 10px;
    }
}
@media (max-width: 399px) {
    .modalContent {
        width: 300px;
    }
    .cardModal {
        flex-direction: column;
        width: 270px;
    }
    .imageModal {
        margin: 0 0 10px 0;
    }
    .infoModal {
        width: 230px;
    }
    .close {
        right: 10px;
    }
}
  
  
  



footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-color-light);
    height: 30px;
    font-size: 14px;
}
.snugFooter {
    margin: 0 30px 0 7px;
}
.contactFooter {
    text-decoration: none;
    color: var(--black);
}
.contactFooter:hover {
    text-decoration: underline;
}